/* CSS Reset */
body, header, nav, main, footer, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Hide elements on mobile */
.tab-desk {
    display: none;
}

/* Header */
header {
    font-size: 1.5em;
    font-family: "DM Serif Display", serif;
    text-align: center;
    padding: 2%;
}

/* Navigation */
nav ul {
    list-style-type: none;
}

nav li {
    display: block;
    font-size: 2em;
}

nav li a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

/* Main */
main {
    font-family: Roboto, sans-serif;
    padding: 2%;
}

.action {
    font-size: 1.25em;
}

/* Lessons */
#piano,
#guitar,
#violin {
    margin: 0 2%;
}

#info ul {
    margin-left: 10%;
}

.round {
    border-radius: 8px;
}

/* Contact */
#contact .email-link {
    text-decoration: none;
}

.tel-link {
    background-color: #000000;
    padding: 2%;
    text-align: center;
}

.tel-link a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em;
}

.map {
    width: 95%;
    height: 50%;
}

/* Images */
img {
    max-width: 100%;
}
